<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body style="background-color:green;">
    <div style="margin: auto; background-color: red;">
      <nav style="background-color: gray;">
        <ul style="padding: 10px;">
          <li style="display: inline;"><a href="{% url 'dj_gram:feed' %}">FEED</a></li>
          <li style="display: inline;"><a href="#">POSTS</a></li>
          <li style="display: inline;"><a href="#">PROFILE</a></li>
          <li style="display: inline; float:right"><a href="{% url 'authentication:logout_user' %}">LOGOUT</a></li>
        </ul>
      </nav>
      <main style="margin: auto;">
        {% block content %}
        {% endblock %}
      </main>
    </div>
  </body>
</html>