{% extends './base.html' %}
{% block title %} Feed {% endblock %}
{% block content %}
{% for post in posts %}
<div class="post" style="width: 300px; height: 300px; background-color: yellow;">
    <div class="post-header">
        <div>{{post.user.avatar}} {{post.user.first_name}} {{post.date}}</div>
    </div>
    <div class="post-image"><img src="{{post.images.first.image.url}}" width="300px" height="200px">{{post.images.first.image}}</div>
    <div class="post-footer">
        {{post.tag}}
        <a href="{% url 'dj_gram:view_post' post.id %}"><button>SEE POST</button></a>
        <a href="{% url 'dj_gram:vote' post.id 1 %}"><button>like</button></a> {{post.get_likes}}
        <a href="{% url 'dj_gram:vote' post.id 0 %}"><button>dislike</button></a> {{post.get_dislikes}}
    </div>
</div>
{% endfor %}
{% endblock %}
